<header>
    <nav>
        <h1><a href="/">DRS</a></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/lista">Lista</a></li>
        </ul>
    </nav>
    <p class="indica_pagina">Página: <%= typeof pagina != 'undefined' ? pagina : 'Home' %></p>
</header>