<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node com EJS</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="website icon" href="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_ejs_icon_130626.png">
</head>